.inlineicon {
	height: 14px;
}

.videoDesc {
	margin: 0px 15% 10px;
	font-size: 20px;
}

.ghost {
	color: #54deef;
}

.ad {
	color: #f78934;
}

.ap {
	color: #7a6dff;
}

.crit {
	text-decoration: underline;
}

.stun {
	color: #a619c7;
}

.knockup, .knockdown {
	color: #bd00ff;
}

.slow, .asreduce {
	color: #6bb2dc;
}

.charm {
	color: #fa3e79;
}

.root {
	color: #adaead;
}

.speed {
	color: #f0e6d2;
}

.stasis {
	color: #e8c234;
}

.silence, .nearsight {
	color: #adaead;
}

.ground {
	color: #ecc10c;
}

.fear {
	color: #08a6f7;
}

.taunt {
	color: #f77900;
}

.sleep {
	color: #b500ef;
}

.drowsy {
	color: #00aaff;
}