.inlineicon {
	height: 14px;
}

.ghost {
	color: #54deef;
}

.ad {
	color: #f78934;
}

.ap {
	color: #7a6dff;
}

.crit {
	text-decoration: underline;
}

.stun {
	color: #a619c7;
}

.knockup, .knockdown {
	color: #bd00ff;
}

.slow {
	color: #6bb2dc;
}

.charm {
	color: #fa3e79;
}
