#yuumibutton, #helpButton {
	background-color: #8ac2d5;
}

#yuumibutton:hover, #helpButton:hover {
	background-color: #ce9beb;
}

#support, #cookieButton {
	background-color: #dac471;
}

input, button, #videodiv, #helpdiv {
	border: 2px inset #dac471;
}
